/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

$main-color: rgb(250, 130, 40);

.book {
	width: 250px;
	height: 350px;
}
.book-show {
	width: 325px;
	height: 475px;
}
.book-review {
	width: 200px;
	height: 300px;
}
.search-bar {
	margin-top: 10px;
	margin-left: 20px;
}
.btn {
	color: $main-color;
	font-weight: 400;
	border: solid 2px;
	transition: 300ms;
	&:hover {
		color: #fff;
		background-color: $main-color;
		border: solid 2px $main-color;
	}
}
.active-category {
	background-color: $main-color;
}
a {
	cursor: pointer;
}